* {
  background-color: #032D3C;
}

.App {
  text-align: left;
  color: #F5F5F5;
  font-family: "Open Sans";
  margin: 0 5% 0 5%;
  
}

.highlighted {
  font-family: "Share Tech Mono";
  color: #4BE3AC;
}

.main-container {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 200px;
  overflow: auto;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: normal;
}

nav {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  font-size: 1.1em;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #F5F5F5;
}

nav ul li a:hover {
  cursor: pointer;
  color: #4BE3AC;
}

.icon-container {
  margin-top: -120px;
  margin-bottom: 10%;
}

.icon {
  color: #4BE3AC;
  margin-right: 16px;
  margin-left: 2px;
}

.icon:hover {
  color: #F5F5F5;
}

.linkedin {
  transform: scale(1.7);
  margin: 0 20px 0 5px;
}

.github {
  transform: scale(1.5);
}

.goodreads {
  height: 35px;
  margin-bottom: -4px;
}

.instagram {
  transform: scale(1.5);
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: -3px 10px 0 0;
}

.icon:hover {
  color: #F5F5F5;
}

button {
  background-color: #4BE3AC;
  color: #F5F5F5;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-top: 60px;
}

button:hover {
  background-color: #3FB996;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }

  .profile-picture {
    height: 250px;
    float: left;
    margin: 10px 20px 20px 0;
    padding-top: 3px;
  }

/* Media query for smartphones */
@media only screen and (max-width: 768px) {
  nav {
    margin-right: 5px;
  }

  nav ul li a {
    padding: 10px 15px 0 5px;
  }

  .main-container {
    margin-top: 30%;
    width: 90%;
  }

  .icon-container {
    margin-bottom: 30%;
  }

  .copyright {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-picture {
    float: none;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    margin-top: 25%;
    width: 80%;
  }

  .copyright {
    margin-bottom: 5px;
    bottom: 10px;
  }
}